
@{
    ViewBag.Title = "XoaDonhang";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<div>
    <main class="antialiased bg-gray-200 text-gray-900 font-sans overflow-x-hidden">
        <div class="relative px-4 min-h-screen md:flex md:items-center md:justify-center">
            <div class="bg-black opacity-25 w-full h-full absolute z-10 inset-0"></div>
            <div class="bg-white rounded-lg md:max-w-md md:mx-auto p-4 fixed inset-x-0 bottom-0 z-50 mb-4 mx-4 md:relative">
                <div class="md:flex items-center">
                    @*<div class="rounded-full border border-gray-300 flex items-center justify-center w-16 h-16 flex-shrink-0 mx-auto">
                            <i class="bx bx-error text-3xl"></i>
                        </div>*@
                    <div class="mt-4 md:mt-0 md:ml-6 text-center md:text-left">
                        <p class="font-bold">Bạn có muốn xóa sản phẩm này ?</p>
                        <p class="text-sm text-gray-700 mt-1">
                            Bạn sẽ mất tất cả dữ liệu về đơn hàng này. Hành động này không thể được hoàn tác.
                        </p>
                    </div>
                </div>
                <div class="text-center md:text-right mt-4 md:flex md:justify-end gap-2">
                    <button class="block w-full md:inline-block md:w-auto px-4 py-3 md:py-2 bg-gray-200 rounded-lg font-semibold text-sm mt-4 md:mt-0 md:order-1">
                        @Html.ActionLink("Hủy bỏ", "Index", "DonHang_63133302")
                    </button>

                    @using (Html.BeginForm("XoaDonhang", "DonHang_63133302", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        <button class="block w-full md:inline-block md:w-auto px-4 py-3 md:py-2 bg-red-200 text-red-700 rounded-lg font-semibold text-sm md:ml-2 md:order-2">
                            Xóa đơn hàng
                        </button>
                    }

                </div>
            </div>
        </div>
    </main>


</div>